body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: beige;
}

header {
    text-align: center;
    background-color: #0078d7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header img {
    height: 40px;
    border-radius: 5px;
}

header input[type="text"] {
    width: /*50%;*/350px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    color: black;
}

header button {
    background-color: white;
    color: #0078d7;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*margin-top: 20px;*/
    background-color: beige;
}


.category {
    width: 200px;
    margin: 10px;
    text-align: center;

}
.category img {
    width: 100%;
    border-radius: 10px;

}
.category h2 {
    margin-top: 10px;
    font-size: 1.2em;
}

.category p {
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
}

footer {
    /*background-color: #f2f2f2;*/
    background-color: beige;
    padding: 10px;
    text-align: center;
}

footer button {
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.user-profile {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f2f2f2;
    cursor: pointer;
    
  }


a.user-name {
    margin-left: 300px;
    color: orange;
}

span.hid {
    max-width: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

