header {
    background-color: #00bfff;
    padding: 10px;
}

body {
    margin: 0;
}

.header-contents {
    font-size: 20px;
}

header img {
    height: 40px;
    border-radius: 5px;
}

.title {
    text-align: center;
}

.shop-list {
    margin-top: 50px;
    text-align: center;
}

.back {
    text-align: center;
}

.back-button {
    width: 70px;
    height: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 100vh;
    background-color: #00bfff;
}

.btn {
    border-radius: 5px;
    background-color: lightblue;
    padding: 5px;
    text-decoration: none;
    color: white;
  }
  