h3 {
    margin-left: 70px;
}

header {
    background-color: #00bfff;
    padding: 10px;
}

body {
    margin: 0;
}

.shop-list {
    margin-top: 50px;
    text-align: center;
}

.back {
    text-align: center;
}

.back-button {
    width: 70px;
    height: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 100vh;
    background-color: #00bfff;
}