.title {
    margin-left: 70px;
}

header {
    background-color: #00bfff;
    margin-top: 0;
    padding: 10px;
}

body {
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 60px;
}

button {
    width: 200px;
    height: 70px;
    border-radius: 100vh;
    background-color: rgb(118, 222, 95);
    border: solid 2px #021f36;
    margin: auto 30px;
}

.select {
    margin-top: 40px;
    padding: 40px;
}

.logout {
    margin-top: 50px;
}

.user-info {
    text-align: center;
    margin-top: 70px;
}