.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  
  .item {
    /*background-color: #ccc;*/
    padding: 10px;
  }

a,a:hover,a:visited{
  color: #0071d1;/*カラーコードは任意*/
}

.grid-seika {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /*background-color: beige;*/
}
@media screen and (max-width: 480px) {
  .grid-seika {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*background-color: beige;*/
  }
}

  .item-seika {
    /*background-color: #ccc;*/
    padding: 10px;
  }

  body {
    margin: 10;
    padding: 10;
    font-family: Arial, sans-serif;
    /*background-color: beige;*/
  }

  div.back {
    margin-left: 30px;
    display: inline;
  }
  
  span.color {
    border-radius: 50px;
    color: #1b21285b;
  }
  
  a.color {
    border-radius: 5px;
    /*background-color: rgb(217, 238, 187);*/
    color: #a071e3;
    padding: 10px;
    font-size: 80%;
    text-decoration: none;
  }

  .result {
    border-radius: 5%;
    font-size: 90%;
    /*background-color: #a071e3;*/  
    padding: 10px;
    color: #a071e3;
  }


  header {
    text-align: center;
    background-color: #0078d7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  header img {
    height: 40px;
    border-radius: 5px;
  }
  
  header input[type="text"] {
    width: /*50%;*/350px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    color: black;
  }
  
  header button {
    background-color: white;
    color: #0078d7;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .user-profile {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f2f2f2;
    cursor: pointer;
    
  }

a.user-name {
  color: orange;
  float: right;
}

span.hid {
  max-width: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p.font {
  color: aqua;
}

.left-a {
    float: left;
}

footer {
  /*background-color: #f2f2f2;*/
  padding: 10px;
  text-align: center;
}
