body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  .meat-image {
    width: 50%;
    height: 100%;
    /*background-image: url('https://i.imgur.com/7vZ1z6J.jpg');*/
    /*background-image: url('/public/images/アイコン/toppage.jpg');*/
    background-size: cover;
    background-position: center;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  .start {
    background-color: lightgray;
  }
  .signin {
    background-color: lightblue;
  }

  a, a:visited {
    color: goldenrod;
  }